@import url("normalize.css");
@import url("../fonts/PT_mono/index.css");
@import url("../fonts/PT_sans/index.css");
@import url("variables.css");

body {
    background-color: var(--color-background-light);
    font-family: PT-sans, sans-serif;
}

.container{
    max-width: 964px;
    margin: 0 auto;
}
.button {
    width: 160px;
    height: 40px;
    padding: 10px;
    background-color: var(--color-button);
    border-radius: 20px;
    color: var(--color-button-text);
    font-size: var(--size-button-text);
}
.inner-wrapper {
    background-color: var(--color-background-super-light);
    padding: 30px;
    border-radius: 15px;
}
.section__title {
    color: var(--color-text-light);
    font-size: var(--size-title-text);
    font-weight: var(--title-font-weight);
    margin: 0 auto;
    max-width: 906px;
    text-align: center;
}
.section__title-wrapper {
    background-color: var(--color-accent);
    padding: 30px 0 30px 0;
}


/*===================================================================HEADER=================================================================================*/

.header {
    min-height: 130px;
    background-color: var(--color-yellow);
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .1);
    padding: 30px 0 0 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sticky + .content {
    padding-top: 102px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
/*HEADER_IMG*/
.header__img-wrapper {
    max-width: 225px;
    max-height: 70px;
    position: relative;
    display: flex;
}
.header__img-wheel_type_black{
    width: 60px;
    height: 60px;
    position: absolute;
}
.header__img-wheel_type_red{
    width: 43px;
    height: 43px;
    position: absolute;
    top: 8px;
    left: 9px;
}
.header__img-eye {
    width: 12px;
    height: 7px;
    position: absolute;
    top: 32px;
    left: 100px;

}
.header__img{
    padding-left: 65px;
    width: 155px;
    height: 55px;
}
/*HEADER_CITY*/
.header__city-wrapper {
    max-width: 225px;
    display: flex;
    align-items: center;
}
.header__city-wrapper svg {
    width: 35px;
    height: 9px;
    margin-right: 10px;
}
/*HEADER_PHONE*/
.header__telephone-wrapper {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.header__btn {
    margin-top: 20px;
}
.header__telephone {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-text);
}
/*===================================================================SLIDER_SECTION=================================================================================*/

.slider__section {
    background-color: var(--color-yellow);
}
.slider__item {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.slider__content {
    max-width: 500px;
    margin-left: 220px
}

/*===================================================================NAVIGATION_SECTION=================================================================================*/
.navigation__section {
    background-color: var(--color-accent);
}
.navigation__list {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 35px 0;
}
.navigation__list-item a {
    font-size: var(--size-text);
    color: var(--color-text-light);
}

/*===================================================================ABOUT_SECTION=================================================================================*/

.about__section{
    padding: 35px 0 0 0;
    background-color: var(--color-background-light);
}
.about__top {
    display: flex;
    position: relative;
    min-height: 262px;
}
.about__text {
    max-width: 640px;
    font-size: var(--size-text);
}
.about__img {
    width: 294px;
    height: 330px;
    position: absolute;
    top: -50px;
    right: -50px;
}
.about__video {
    height: 494px;
    width: 904px;
    background-image: url(https://img.youtube.com/vi/oBWO9NdBYeI/sddefault.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: contain;
}
/*===================================================================PROGRAM_SECTION=================================================================================*/

.program__wrapper {
    display: flex;
    justify-content: space-between;
}

.program__content {
    margin-top: 60px;
}
.program__item {
    display: flex;
    margin-bottom: 24px;
}
.program__item-info {
    max-width: 466px;
    margin-right: 40px;
}
.program__subtitle {
    margin-top: 20px;
    font-weight: var(--subtitle-font-weight);
    font-size: var(--size-subtitle-text);
    color: var(--subtitle-font-color);
    margin-bottom: 15px;
}
.program__text {
    font-weight: var(--size-button-text);
    margin-bottom: 15px;
}
.program__time-wrapper {
    display: flex;
    align-items: center;
}
.program__clock-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.program__time {
    font-weight: var(--bold-accent-font-weight);
    font-size: var(--bold-accent-font-size);

}
.program_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program__btn {
    margin-top: 25px;
}

/*===================================================================SOLUTION_SECTION=================================================================================*/
.section__title-wrapper_type_green {
    background-color: var(--color-background-solution);
    padding-bottom: 40px;
}
.solution__content {
    background-color: var(--color-background-solution);
    padding-bottom: 35px;
}
.solution__items {
    display: flex;
    justify-content: space-between;
}
.solution__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.solution__text {
    font-size: var(--size-big-text);
    font-weight: var(--weight-big-text) ;
    color: var(--color-text-light);
    max-width: 249px;
    text-align: center;
    margin-top: 20px;
}
.solution__subtitle {
    font-size: var(--size-big-text);
    font-weight: var(--weight-big-text);
    color: var(--color-text-light);
    text-align: center;
}
.solution__subtitle h4{
    margin: 40px 0 0 0;

}
/*===================================================================AFFICHE_SECTION=================================================================================*/

.section__title-wrapper_type_white {
    background-color: var(--color-background-light);
}
.affiche__title {
    color: var(--color-accent);
    max-width: 642px;
}
.affiche__content{
    background-color: var(--color-background-accent);
}
.affiche__items {
    display: flex;
    flex-direction: column;
}
.affiche__item {
    display: flex;
    justify-content: space-between;
}
.affiche__date {
    color: var(--color-text);
    font-weight: var(--weight-big-text);
    font-size: var(--bold-accent-font-size);
    padding: 11px 40px 11px 40px;
    background-color: var(--affiche-date-color);
}
.affiche__time {
    color: var(--color-text);
    font-weight: var(--weight-big-text);
    font-size: var(--bold-accent-font-size);

}