@import url("normalize.css");
@import url("../fonts/PT_mono/index.css");
@import url("../fonts/PT_sans/index.css");
@import url("variables.css");
@import url("animations.css");
@import url("hamburger.css");
@import url("preloader.css");

body {
    background-color: var(--color-background-light);
    font-family: PT-sans, sans-serif;
}

.container {
    max-width: 964px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.container.container_large {
    max-width: 1100px;
}

.button {
    width: 160px;
    padding: 10px;
    background-color: var(--color-button);
    border-radius: 20px;
    color: var(--color-button-text);
    font-size: var(--size-button-text);
    height: 50px;
    font-weight: bold;
}

.button.button-yellow {
    background-color: var(--color-yellow);
    width: fit-content;
    padding: 10px 20px 10px 20px;
    color: var(--color-text);
}

.inner-wrapper {
    background-color: var(--color-background-super-light);
    padding: 30px;
    border-radius: 15px;
}

.section__title {
    color: var(--color-text-light);
    font-size: var(--size-title-text);
    font-weight: var(--title-font-weight);
    margin: 0 auto;
    max-width: 906px;
    text-align: center;
}

.section__title-wrapper {
    background-color: var(--color-accent);
    padding: 30px 0 30px 0;
}

.desktop__logo {
    display: block;
}

.desktop__img {
    display: block;
}

.mobile__img {
    display: none;
}

.mobile__logo {
    display: none;
}

/*===================================================================HEADER=================================================================================*/

.header {
    min-height: 130px;
    background-color: var(--color-yellow);
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .1);
    padding: 30px 0 0 0;
}

.sticky {
    /*position: fixed;*/
    /*top: 0;*/
    /*max-width: 4000px;*/
    /*width: 100%;*/
    /*z-index: 2;*/
}

/*.sticky + .content {*/
/*    padding-top: 102px;*/
/*}*/

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .container .dropdown {
    position: relative;
}

.header .container .dropdown .dropdown-slide {
    position: absolute;
    display: none;
    bottom: -110px;
    left: 0;
    background-color: var(--color-header-slide);
    max-width: 250px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    z-index: 2;
}

.header .container .dropdown .dropdown-slide .header__dropdown__text {

}

/*HEADER_IMG*/
.header__img-wrapper {
    max-width: 325px;
    max-height: 70px;
    position: relative;
    display: flex;
}

.header__right-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    width: 100%;
}

.header__img-wheel_type_black {
    width: 75px;
    height: 75px;
    position: absolute;
    -webkit-animation: logo-wheel-black 8s ease-in-out infinite;
    animation: logo-wheel-black 8s ease-in-out infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.header__img-wheel_type_red {
    width: 58px;
    height: 58px;
    position: absolute;
    top: 37px;
    left: 37px;
    animation: logo-wheel-red 8s infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.header__img-eye {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 37px;
    left: 126px;
    animation: eye 3.2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.header__img {
    padding-left: 85px;
    width: 355px;
    height: 70px;
}

/*HEADER_CITY*/
.header__city-wrapper {
    max-width: 225px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.header__city-wrapper svg {
    width: 35px;
    height: 9px;
    margin-right: 10px;
}

.header__city-wrapper svg.active {
    transform: rotate(180deg);
}

/*HEADER_PHONE*/
.header__telephone-wrapper {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__btn {
    margin-top: 20px;
}

.header__telephone {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-text);
}

/*===================================================================SLIDER_SECTION=================================================================================*/

.slider__section {
    background-color: var(--color-yellow);
}

.slider__item {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.slider__content {
    max-width: 500px;
    margin-left: 220px
}

.slider__img-wrapper {
    min-width: 620px;
}

/*===================================================================NAVIGATION_SECTION=================================================================================*/
.navigation__section {
    background-color: var(--color-accent);
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 35px 0;
}

.navigation__list-item a {
    font-size: var(--size-text);
    color: var(--color-text-light);
}

/*===================================================================ABOUT_SECTION=================================================================================*/

.about__section {
    padding: 35px 0 0 0;
    background-color: var(--color-background-light);
}

.about__top {
    display: flex;
    position: relative;
    min-height: 262px;
}

.about__text {
    max-width: 640px;
    font-size: var(--size-text);
}

.about__img {
    width: 294px;
    height: 330px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.about__video {
    height: 494px;
    width: 904px;
    background-image: url(https://img.youtube.com/vi/oBWO9NdBYeI/sddefault.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: contain;
}
.about__buttons {
    margin-top: 15px;
}

/*===================================================================PROGRAM_SECTION=================================================================================*/

.program__wrapper {
    display: flex;
    justify-content: space-between;
}

.program__content {
    margin-top: 60px;
}

.program__item {
    display: flex;
    margin-bottom: 24px;
}

.program__item-info {
    max-width: 466px;
    margin-right: 40px;
}

.program__subtitle {
    margin-top: 20px;
    font-weight: var(--subtitle-font-weight);
    font-size: var(--size-subtitle-text);
    color: var(--subtitle-font-color);
    margin-bottom: 15px;
}

.program__text {
    font-weight: var(--size-button-text);
    margin-bottom: 15px;
}

.program__time-wrapper {
    display: flex;
    align-items: center;
}

.program__clock-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.program__time {
    font-weight: var(--bold-accent-font-weight);
    font-size: var(--bold-accent-font-size);

}

.program_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program__btn {
    margin-top: 25px;
}

@media (max-width: 1400px) {
    .program__wrapper {
        justify-content: center;
    }

    .program__wrapper .program__img_type_left {
        display: none;
    }

    .program__wrapper .program__img_type_right {
        display: none;
    }
}


/*===================================================================SOLUTION_SECTION=================================================================================*/
.section__title-wrapper_type_green {
    background-color: var(--color-background-solution);
    padding-bottom: 40px;
}

.solution__content {
    background-color: var(--color-background-solution);
    padding-bottom: 35px;
}

.solution__items {
    display: flex;
    justify-content: space-between;
}

.solution__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution__text {
    font-size: var(--size-big-text);
    font-weight: var(--weight-big-text);
    color: var(--color-text-light);
    max-width: 249px;
    text-align: center;
    margin-top: 20px;
}

.solution__subtitle {
    font-size: var(--size-big-text);
    font-weight: var(--weight-big-text);
    color: var(--color-text-light);
    text-align: center;
}

.solution__subtitle h4 {
    margin: 40px 0 0 0;

}

/*===================================================================AFFICHE_SECTION=================================================================================*/

.section__title-wrapper_type_white {
    background-color: var(--color-background-light);
}

.affiche__title {
    color: var(--color-accent);
    max-width: 642px;
}

.affiche__content {
    background-color: var(--color-background-accent);
    background-image: url("/assets/img/affiche/affiche_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 70px 0;
}

.affiche__items {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.affiche__item {
    display: flex;
    margin-bottom: 20px;
}

.affiche__date {
    color: var(--color-text);
    font-weight: var(--weight-big-text);
    font-size: var(--bold-accent-font-size);
    padding: 11px 40px 11px 40px;
    background-color: var(--affiche-date-color);
    border-radius: 25px;
    margin-right: 25px;
}

.affiche__time-wrapper {
    display: flex;
    width: 65%;
}

.affiche__time {
    color: var(--color-text);
    font-weight: var(--weight-big-text);
    font-size: var(--bold-accent-font-size);
    background-color: var(--affiche-time-color);
    padding: 11px 40px 11px 40px;
    border-radius: 25px;
}

.affiche__time.affiche__time_type_empty {
    background-color: transparent;
    pointer-events: none;
    width: 140px;
}

/*===================================================================PRICE_SECTION=================================================================================*/
.price__section {
    display: flex;
    justify-content: space-between;
}

.price__title {
    font-family: var(--title-font-family);
    font-weight: var(--title-MONO-font-weight);
    font-size: var(--title-MONO-font-size);
    color: var(--color-accent);
    margin-bottom: 20px;
}

.price__text {
    font-size: var(--size-text);
    max-width: 900px;
    margin-bottom: 20px;
}

.price__tickets {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.price__ticket {
    max-width: 288px;
    border-radius: 15px;
    border: 2px solid var(--color-accent);
}

.price__ticket-top {
    display: flex;
    align-items: center;
    padding: 15px;
}

.price__ticket-img {
    margin-right: 15px;
}

.price__ticket-title {
    font-size: 20px;
    font-weight: var(--title-MONO-font-weight);
    font-family: var(--title-font-family);
    color: var(--color-accent);
}

.price__ticket-mid {
    padding: 15px;
}

.price__ticket-text {
    font-size: var(--size-text);
    margin-bottom: 10px;
}

.price__ticket-footer {
    background-color: var(--price-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    border-radius: 0 0 15px 15px;
}

.price__ticket-sum {
    color: var(--color-accent);
    font-size: var(--bold-accent-font-size);
    font-weight: var(--bold-accent-font-weight);
}

.price__special-title {
    font-size: var(--bold-accent-font-size);
    font-weight: var(--bold-accent-font-weight);
    font-family: var(--title-font-family);
    color: var(--color-text-light);
    margin: 0;
}

.price__special-dropdown-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-accent);
    padding: 20px;
    border-radius: 15px;
}

.price__special-slide {
    border: 2px solid var(--color-accent);
    border-top: none;
    padding: 50px 20px 20px 20px;
    margin: -30px 0 0 0;
    border-radius: 0 0 15px 15px;
}

.price__special-text {
    font-weight: var(--size-text);
    margin-bottom: 20px;
}

.price__inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    border: 2px solid var(--color-accent);
}

.price__text {
    margin: 0;
}

.price__buttons {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1400px) {
    .price__section {
        justify-content: center;
    }

    .price__section .program__img_type_left {
        display: none;
    }

    .price__section .program__img_type_right {
        display: none;
    }
}

/*===================================================================TREE_SECTION=================================================================================*/
.tree__content {
    background-color: var(--color-background-solution);
}

.tree__items {

}

.tree__section .slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.tree__section .slider__img {
    border-radius: 15px 15px 0 0;
}

.tree__section .slider__text {
    background-color: var(--color-background-super-light);
    padding: 20px 20px 20px 20px;
    border-radius: 0 0 15px 15px;
    width: 100%;
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 20px;
    font-weight: var(--weight-big-text);
}

/*===================================================================FAQ_SECTION=================================================================================*/
.faq__section {
    background-color: var(--color-background-light);
}

.faq__section-title {
    font-family: var(--title-font-family);
    font-weight: var(--bold-accent-font-weight);
    color: var(--color-text);
    font-size: var(--size-title-text);
    margin-top: 40px;
}

.faq__content {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.faq__dropdowns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.faq__dropdown {
    max-width: 600px;

}

.faq__dropdown-head {
    padding: 20px;
    background-color: var(--color-background-super-light);
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    width: 200%;
    position: relative;
    z-index: 1;
}

.faq__title {
    font-weight: var(--bold-accent-font-weight);
    font-size: var(--size-text);
    margin: 0;
}

.faq__slide {
    background-color: var(--color-background-super-light);
    padding: 50px 20px 20px 20px;
    border-radius: 0 0 15px 15px;
    margin-top: -30px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.faq__text {
    font-size: var(--size-text);
}

.faq__dropdown-head.active {
    background-color: var(--color-yellow);
}

.faq__dropdown-head svg.active {
    transform: rotate(180deg);
}

/*===================================================================FOOTER=================================================================================*/
.footer {
    margin-top: 50px;

}

.footer__top {
    display: flex;
    margin-bottom: -160px;
    border-top: 3px dotted var(--color-footer-dots);
    padding: 40px 0 0 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    width: 100%;
    padding: 30px;
    background-color: var(--color-background-super-light);
    max-height: 335px;
    border-radius: 0 15px 0 15px;
}

.footer__content .footer__title {
    font-size: 22px;
    font-weight: var(--title-font-weight);
    font-family: PT-sans;
    margin: 0 0 15px 0;
}

.footer__content .footer__text {
    font-size: var(--size-text);
    margin-bottom: 15px;
}

.footer__content .footer__phone {
    font-size: var(--size-button-text);
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 15px;
}

.footer__map-wrapper {
    width: 100%;
    max-width: 690px;
    max-height: 335px;
}

.footer__map-wrapper iframe {
    border-radius: 0 15px 15px 0;
}

.footer__bottom {
    margin-top: 30px;
}

.footer__navigation {
    margin-bottom: 30px;
}

.footer__navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__navigation-item {
    font-size: var(--size-text);
    color: var(--color-text);
    font-family: PT-mono;
}

.footer__navigation-item a {
    color: inherit;
}

.footer__navigation-item.active-page {
    font-weight: bold;
}

.footer__stuff {
    display: flex;
    justify-content: space-between;
    border-top: 3px dashed var(--color-footer-orange);
    padding-top: 25px;
    padding-bottom: 30px;
}

.footer__rules-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__rules-item {
    font-size: 14px;
    margin-right: 10px;
    color: var(--color-text);
}

.footer__rules-item a {
    color: inherit;
}

.footer__icons-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__copyright {
    background-color: var(--color-footer-orange);
    text-align: center;
    padding: 20px;
    color: var(--color-text-light);
    font-family: PT-mono;
    font-weight: bold;
}

.footer__bottom {
    padding-top: 160px;
    background-color: var(--color-yellow);
}

@media (max-width: 1280px) {
    .slider__content {
        margin-left: 120px;
    }
}


@media (max-width: 1024px) {
    .header__right-wrapper {
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px;
    }

    .header__right-wrapper {
        max-width: 350px;
    }

    .slider__section .slider__img-wrapper {
        margin-right: -150px;
    }

    .slider__section .slider__item {
        overflow: hidden;
    }

    .slider__section .slider__content {
        margin-left: 50px;
    }

    .about__top {
        max-width: 525px;
        width: 100%;
    }

    .about__text {
        max-width: 450px;
        width: 100%;
    }

    .about__img {
        width: 236px;
        height: auto;
        position: absolute;
        top: -52px;
        right: -170px;
    }
}

@media (max-width: 769px) {
    .button {
        width: 155px;
    }
    .slider__section .slider__item {
        flex-direction: column;
        align-items: center;
    }

    .slider__section .slider__img-wrapper {
        margin-right: -165px;
    }

    .slider__section .slider__content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        text-align: center;
        padding: 0 20px 0 20px
    }

    .slider__section .slider__title {
        font-size: 25px;
    }

    .desktop__logo {
        display: none;
    }

    .desktop__img {
        display: none;
    }

    .mobile__logo {
        display: block;
    }
    .mobile__img {
        display: block;
    }

    .header__img {
        width: 145px;
        height: 40px;
        padding-left: 0;
    }

    .header__city-adress {
        font-size: 15px;
    }

    .header__telephone {
        font-size: 15px;
    }

    .header__btn {
        margin-top: 10px;
    }

    nav.mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        gap: 10px;
        margin-bottom: 10px;
    }

    nav.mobile-menu p {
        font-family: PT-mono;
        font-size: 18px;
    }

    .header .container .dropdown .dropdown-slide {
        width: 350px;
        bottom: -110px;
    }

    .navigation__section {
        display: none;
    }
    .about__img {
        width: 71px;
        height: auto;
        position: absolute;
        top: -35px;
        right: -10px;
    }
    .about__text {
        max-width: 320px;
    }
    .about__section .container{
        padding: 0;
    }
    .about__section .container .inner-wrapper{
        padding: 20px;
    }
    .about__buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 360px;
    }

    .slider__section .slider__img-wrapper {
        margin-right: -95px;
        min-width: 0;
    }
    .about__text {
        max-width: 250px;
    }
}