:root {
    --color-button: #E63323;
    --color-button-text: #ffff;
    --color-yellow: #FED832;
    --affiche-date-color: #FFDA00;
    --price-color:#FFDA00;
    --affiche-time-color: #ffff;
    --color-accent: #E63323;
    --color-text: #1D1E1C;
    --color-text-light: #ffff;
    --color-background-light: #FDFCF0;
    --color-background-super-light: #FFFF;
    --color-background-solution:#009245;
    --color-background-accent: #E63323;
    --color-footer-dots: #80857C;
    --color-footer-orange: #F19E38;

    --size-button-text: 16px;
    --size-text: 18px;
    --size-title-text: 30px;
    --title-font-weight: bold;

    --title-MONO-font-size: bold;
    --title-MONO-font-size: 45px;
    --title-font-family: PT-mono;

    --size-subtitle-text: 28px;
    --subtitle-font-weight: bold;
    --subtitle-font-color: #E63323;

    --bold-accent-font-weight: bold;
    --bold-accent-font-size: 24px;

    --size-big-text: 30px;
    --weight-big-text: bold;
}